#home-container {
	display:grid;
	font-weight: bold;
	background:#232121;
	color:black;
	overflow:hidden;
	text-align:center;
	height:100vh;
	-webkit-transition : width 2s;
	transition-delay : 2s;
	background:url('../images/healthy2.jpg') no-repeat;
	background-size:cover;
}

#home-input{
	width:80%;
}

#input-box p{
	cursor:pointer;
}

#input-box {
	border-radius : 25px;
	background : #232121;
	width: 25%;
	margin: auto;
}

#input-box{
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.or{
	display:flex;
	flex-direction:row;
	margin :1.2rem;
	align-items:center;
}

.bar{
	width:5vh;
	margin:4%;
}
	
#input-box form{
	display:grid;
	bottom-margin:1.4rem;
}

#input-box button{
	text-decoration:none;
	text-align:center;
	color: white;
	display:block;
	height:2.7rem;
	background: #f96816;
	padding : 0.7rem 1rem;
	border:0;
	border-radius:2px;
	font-weight: 500;
	cursor:pointer;
	transition: all 0.5s;
}

#input-box input{
	border-radius:2px;
	background : #181818;
	border : 1px solid #555;
	color :#ccc;
	padding: 0.5rem 1rem;
	line-height: 1.3rem;
	margin-bottom : 1.3rem;	
}
